**/.ipynb_checkpoints
**/data/*

# NYC TLC data
*.csv.*
*.csv

# GCP key
nomadic-grid-*.json

# Terraform (initialized by terraform init)
**.terraform
**.terraform.lock.*
*.tfstate
*.tfstate.*

**logs/
**.env

**__pycache__/
